.faostat-analysis-card {
  display: inline-block;
  float: left;
  padding: 10px;
  .faostat-analysis-card-top {
    background-color: #dddddd;
    padding: 10px;
    cursor: pointer;
    .faostat-analysis-tile-img {
      width: 100%;
    }
  }
  .faostat-analysis-card-bottom {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    h2 {
      margin: 0;
      font-size: 16px;
    }
    p {
      color: #aaa;
    }
  }
}
